.cart {
  display: flex;
  flex-direction: column;
}

.orders {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  flex-grow: 1;
}

.order {
  display: flex;
  border-bottom: 1px solid#EFEFEF;
  padding: 15px;
  margin-bottom: 25px;

  .details {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .closeButton {
    font-size: 15px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: block;
  }
}

.title {
  font-size: 20px;
  margin: 0;
}

.cartSummary {
  display: flex;
  flex-direction: column;
  padding: 15px;
}