.control {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.controlButton {
  font-size: 26px;
  border-radius: 10%;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
  display: block;
}

.quantity {
  padding: 10px;
}