.detailsContainer {
  display: flex;
  flex-direction: row;
}

.detailImage {
  margin-right: 20px;
  display: flex;
  align-items: flex-start;

  img {
    width: 250px;
    object-fit: contain;
  }
}

.detailContent {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 20px;
  margin: 0;
}

.authors {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.description {
  font-size: 14px;
  text-align: justify;
  margin: 5px 0;
}

.detailFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  padding-top: 10px;
}
