.detailsContainer {
  display: flex;
  flex-direction: row;
}

.detailImage {
  margin-right: 20px;
  display: flex;

  img {
    width: 250px;
    object-fit: contain;
  }
}

.detailContent {
  display: flex;
  flex-direction: column;
}

.authors {
  font-size: 12px;
}

.description {
  font-size: 14px;
}

.detailFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
